.name {
    flex: 1 1 auto;
    font-size: 12px;
    user-select: none;
    text-wrap: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

.icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    padding: 0px 8px;
}

.parent-hidden {
    opacity: 0.56;
}

.nameInput {
    flex: 1 1 auto;
    font-size: 12px;
    border: 1px solid var(--primary-color, #1565c0);
    border-radius: 2px;
    padding: 0 2px;
    outline: none;
    background: var(--input-background-color, #fff);
    color: inherit;
    min-width: 0;
}
